body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black
}

h1{
    font-size: 40px;
    color: white;
}

#mainContent{
    margin: 80px 50px;
}

p{
    color: white;
}

#generatePassword{
    color: white;
    border-radius: 30px;
    width: 191px;
    height: 42px;
    background: #4ADF86;

}
#container {
    height: 550px;
    width: 550px;
    background: #1F2937;
}

#password-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.highlight {
    color: #4ADF86;
}