* {
    margin: 0px;
    padding: 0px;

}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black
}

h1{
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}

#mainContent{
    margin: 80px 50px;
}

p{
    color: white;
    font-size: 1.3rem;
    margin-bottom: 55px;
    color: rgb(175, 175, 175);
}

#generatePassword{
    color: white;
    border-radius: 6px;
    width: 191px;
    height: 42px;
    background: #4ADF86;
    margin-bottom: 30px;
    font-size: 16px;
    cursor: pointer;

}

hr {
color: #273549;
border-style: solid;
}

#container {
    height: 550px;
    width: 550px;
    background: #1F2937;
    border-radius: 6px;
}

#password-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.highlight {
    color: #4ADF86;
}

.passwordBox{
    height: 39px;
    width: 211px;
    background: #273549;
    color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4ADF86;
}


@media (max-width: 600px) {

    body {
        align-items: center;
    }

    #container {
        width: 90vw;
        height: auto;
        margin-top: 40px;
    }

    #mainContent {
        margin: 40px 20px;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 1.1rem;
        margin-bottom: 40px;
    }

    #generatePassword {
        width: 100%;
    }

    #password-boxes {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .passwordBox {
        width: 100%;
    }
}
